<a href="http://localhost:3000/oauth/authorize?client_id=<%= ENV['OAUTH_IMS_CLIENT_ID'] %>&redirect_uri=<%= ENV['OAUTH_IMS_AUTHORIZATION_REDIRECT_URI'] %>&response_type=code&scope=public">
	Login with Authenticator
</a>